# Ignore node_modules, as they will be installed within the container
node_modules
/node_modules

# Ignore logs
logs
/Server/logs
npm-debug.log

# Ignore environment files, as environment variables will be passed through docker-compose
.env
.env.local
/Server/.env

# Ignore git and docker files
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

# Ignore the batch script as it's not needed in the container
manage.bat